{cover_enabled,true}.

{cover_export_enabled,true}.

{cover_print_enabled,true}.

{deps,[
    {decorator_pt,[],{git,"git://github.com/spilgames/erl-decorator-pt.git",{tag,"1.0.2"}}}
]}.

{deps_dir,"deps"}.

{edoc_opts,[{todo,true},{preprocess,true},{includes,[".","deps"]}]}.

{eunit_opts,[verbose,{report,{eunit_surefire,[{dir,"."}]}}]}.

{erl_opts, [debug_info, {i, "include"}, {src_dirs, [src]}]}.
