{cover_enabled,true}.

{cover_export_enabled,true}.

{cover_print_enabled,true}.

{deps,[
    {lager,[],{git,"git://github.com/spilgames/lager.git",{tag,"2.0.3"}}},
    {decorator_pt,[],{git,"git://github.com/spilgames/erl-decorator-pt.git",{tag,"1.0.2"}}}
]}.

{deps_dir,"deps"}.

{edoc_opts,[{todo,true},{preprocess,true},{includes,[".","deps"]}]}.

{eunit_opts,[verbose,{report,{eunit_surefire,[{dir,"."}]}}]}.

{xref_checks,[undefined_function_calls]}.

{escript_incl_apps, [
        basho_bench,

        % Copied from basho_bench/rebar.config
        lager, getopt, bear, folsom, ibrowse, riakc, riak_pb, mochiweb,
        protobuffs, velvet, goldrush
]}.

{erl_opts, [{platform_define, "^[0-9]+", 'namespace_types'},
            debug_info,
           {src_dirs, [src]},
           {parse_transform, lager_transform}]}.
