{cover_enabled,true}.

{cover_export_enabled,true}.

{cover_print_enabled,true}.

{deps,[{eper,[],{git,"git@github.com:spilgames/eper.git",{branch,"HEAD"}}},
       {erl_monitoring,"1.2.1",{git,"git@github.com:spilgames/erl-monitoring.git",{tag,"1.2.1"}}},
       {erlanglibs,"",{git,"git@github.com:spilgames/erlanglibs.git",{tag,"3.0.0"}}}
]}.

{deps_dir,"deps"}.

{edoc_opts,[{dir,"DOC"},{todo,true},{preprocess,true},{includes,[".","deps"]}]}.

{erl_opts,[debug_info]}.

{eunit_opts,[verbose,{report,{eunit_surefire,[{dir,"."}]}}]}.

{xref_checks,[undefined_function_calls]}.
