[
    {erl_cache, [
        {cache_servers, [
            {cache1, [
                {validity, 60000},
                {error_validity, 30000},
                {evict, 300000},
                {wait_for_refresh, false},
                {mem_check_interval, 10000},
                {max_cache_size, 100}
            ]},
        ]}
    ]}
].
